<h1>Editing Receiver</h1>

<%= render 'form' %>

<%= link_to 'Буцах', receivers_path %> | 
<%= link_to 'Үзэх', @receiver %> | 
<%= link_to 'Устгах', receiver_path(@receiver), :confirm => 'Are you sure?', :method => :delete %> 
