<table class="table table-condensed">
      <thead>
        <tr>
          <th>Юуг</th>
          <th>Хаанаас</th>
          <th>Хаашаа</th>
          <th></th>
          
        </tr>
      </thead>
      <tbody>
        <% @receivers.each do |receiver| %>
        <tr>
          <td><%= receiver.stuff %></td>
          <td><%= receiver.source_address %></td>
          <td><%= receiver.destination_address %></td>
          <td><%= link_to 'засах', edit_receiver_path(receiver) %>
          
          
        </tr>
        <% end %>

      </tbody>
    </table>