<h1>Хүргэлтийн мэдээлэл засах</h1>

<%= render 'form' %>

<%= link_to 'Буцах', senders_path %> |
<%= link_to 'Харах', @sender %> |
<%= link_to 'Устгах', sender_path(@sender), :confirm => 'Are you sure?', :method => :delete %> 
